.c-motion-text {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: block;

    &__background img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__copy {
        color: white;
        font-size: min(vw(180px), 190px);
        line-height: em(200px, 240px);
        text-transform: uppercase;
        font-weight: 500;
        padding-inline: vw(80px);
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        white-space: nowrap;
        display: flex;
        align-items: end;
    }

    &__cta {
        transform: translateX(-50%);
        width: calc(100% - 120px);
        position: relative;
        bottom: 220px;
        left: 50%;
        margin-bottom: -60.5px;
        color: black;
        z-index: 2;
        opacity: 0;

        @include mq("md") {
            color: white;
            position: absolute;
            top: 20%;
            left: 70%;
            border: none;
            text-transform: inherit;
            background: none;
            font-size: vw(32px);
        }
    }

    &__animimage {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        opacity: 0; 

        img {  
            height: 90vh;

            @include mq("md") {
                width: auto;
            }
        }
    }
}
