.c-navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    height: 78px;

    .o-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        padding-inline: 10px;
    }

    &__left {
        display: flex;
        justify-self: left;
        justify-content: left;
        align-items: center;
        gap: 1em;

        &--copy {
            color: #fff;
            display: flex;
            gap: 0.5em;
            align-items: center;
        }
    }

    &__center {
        justify-self: center;
    }

    &__right {
        justify-self: right;
    }

    &__logo {
        width: 0;

        @include mq(md){
            width: 75px;
        }

        &.logo-nse {
            opacity: 0;
            width: 75px;
        }
    }

    &__hamb {
        display: flex;
        width: 40px;
        height: 25px;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;

        .stroke {
            background-color: #fff;
            height: 3px;
            display: block;
            width: 100%;
            transform-origin: right;

            &__top {
                transform: scaleX(0.5);
            }
            &__center {
                transform: scaleX(0.7);
            }
            &__bottom {
                transform: scaleX(0.8);
            }
        }

        &:hover {
            .stroke {
                transform: scaleX(1);
            }
        }

        &.clicked {
            .stroke {
                &__top {
                    transform: rotate(-45deg);
                }
                &__center {
                    transform: scaleX(0);
                }
                &__bottom {
                    transform: translateY(5px) rotate(45deg);
                }
            }
        }
    }

    &.visible{
        background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);

        .logo-nse {
            opacity: 1;
        }
    }
}

// MENU DRAWER
.c-navbar__drawer {
    background: #000;
    width: 100%;
    transform-origin: right;
    transform: scaleX(0);
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;

    @include mq(md){
        width: 50%;
    }

    &.open{
        transform: scaleX(1);
    }
}