.l-author 
    .l-author__images
        each img in author.prod_imgs 
            .l-author__images--wrapper
                img.o-image(src=img) 
                +cta-button(translations.shopnow,"#","","c-button--text l-author__images--cta") 
    .l-author__copy
        img.o-image.l-author__copy--icon(src=author.icon)
        h3.text__32 
            |!{author.title} 
        
        span.text__24 !{author.copy}