body {
    font-family: "Neue Helvetica VFDP", helvetica, sans-serif;
}

.text {

    &__14 {
        font-size: clamp(13px, vw(14px, 1920px), 16px);
        line-height: em(14, 19);
    }

    &__16 {
        font-size: clamp(14px, vw(16px, 1920px), 18px);
        line-height: em(16, 19);
    }
    &__24 {
        font-size: clamp(22px, vw(24px, 1920px), 28px);
        line-height: em(24, 33);
    }

    &__32 {
        font-size: clamp(30px, vw(32px, 1920px), 36px);
        line-height: em(32, 44);
    }
    
}
