.l-author {
    display: flex;
    flex-direction: column;
    position: relative;

    @include mq("md") {
        position: inherit;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__images {
        order: 2;
        position: relative;
        bottom: 0;
        height: 50%;

        @include mq("md") {
            position: inherit;
            order: 0;
        }

        &--wrapper {
            position: sticky;
            top: 0;

            @include mq("md") {
                position: relative;
                top: unset;
            }
        }

        &--cta { 
            transform: translateX(-50%);
            width: calc(100% - 120px);
            position: relative;
            bottom: 110px;
            right: -50%; 
            margin-bottom: -60.5px;
            text-transform: uppercase;

            @include mq("md") {
                margin-bottom: 0;
                transform: none;
                position: absolute;
                top: vw(24px);
                right: vw(30px); 
                bottom: unset;
                width: inherit;
                height: auto;
                text-transform: none;
            }

            span { 

                @include mq("md") { 
                    font-size: vw(32px);
                }
            }
        }

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    &__copy {
        display: grid;
        place-content: center;
        height: $full-height;
        text-align: center;
        padding: vw(120px,720px) vw(55px,720px);
        order: 1;
        z-index: -1; 

        @include mq("md") { 
            padding: vw(120px) vw(170px);
            height: max-content;
            position: sticky;
            top: 0;
            margin-bottom: 0;
        }

        &--icon {
            object-fit: contain;
            height: 168px;

            @include mq("md") {
                height: vw(242px);
            }
        }

        h3 {
            font-weight: 500;
            margin-bottom: vw(40px);
        }

        .author-highlighted {
            background: #313070;
        }
    }
}
