.l-products {
    &__copy {
        display: grid;
        place-content: center;
        text-align: center;
        padding: vw(150px, 720px) vw(55px, 720px);

        @include mq("md") {
            padding: vw(214px) vw(350px);
        }

        &--second {
            @include mq("md") {
                padding-top: 0;
            }
        }

        .products-highlighted {
            &--green {
                background: #c8deb1;
                color: black;
            }
            &--purple {
                background: #d5cbd6;
                color: black;
            }
        }
    }

    &__list {
        position: relative;
        display: grid;

        grid-template-areas:
            "one"
            "three"
            "two"
            "four";

        :nth-child(1) {
            grid-area: one;
            justify-self: end;
        }
        :nth-child(2) {
            grid-area: two;
        }
        :nth-child(3) {
            grid-area: three;
            margin-bottom: 190px;
        }
        :nth-child(4) {
            grid-area: four;
            margin-bottom: 80px;
        }

        padding-inline: vw(55px, 720px);

        @include mq("md") {
            gap: vw(90px);
            grid-template-areas:
                "one ."
                "one two"
                "three two"
                "three four"
                ". four";

            grid-template-rows: vw(120px) auto vw(120px) auto;

            :nth-child(2) {
                grid-area: three;
                justify-self: end;
            }
            :nth-child(3) {
                grid-area: two;
                margin: 0;
            }
            :nth-child(4) {
                margin-bottom: 0;
            }
        }
    }

    &__image {
        position: relative;

        @include mq("md") {
            width: vw(640px);
            height: vw(792px);
            opacity: 0;
            transform: translateY(-50px);
        }

        &.visible {
            transform: translateY(0);
            opacity: 1;
        }

        &--second {
            transition-delay: 200ms;
        }

        &--cta {
            text-transform: uppercase;
            transform: translateX(-50%);
            width: 100%;
            position: absolute;
            left: 50%;
            top: vw(calc(758px * 2 + 30px), 720px);
            z-index: 2;

            @include mq("md") {
                text-transform: none;
                color: white;
                left: unset;
                transform: none;
                top: vw(24px);
                right: vw(30px);
                width: max-content;
            }

            &:hover {
                color: black;
                @include mq("md") {
                    color: white;
                }
            }
        }

        &:hover {
            @include mq("md") {
                transition-delay: 0;
                transform: scale(1.01);
            }
        }

        img {
            object-fit: cover;
            height: 100%;
        }
    }

    &__background {
        position: absolute;
        top: -2%;
        left: vw(90px);
        height: vw(400px);
        z-index: -1;

        @include mq("md") {
            top: -10%;
        }
    }
}
