mixin motion-text(section_id,text)
    .c-motion-text(id=section_id)
        picture.c-motion-text__background
            img(src="./assets/images/section2-bg.png")
        .c-motion-text__copy.js-textmove
            span.js-textmove__wrapper #{text}