.c-navbar.js-navbar
    .o-container.o-container--full
        .c-navbar__left
            a(href="#") 
                img.c-navbar__logo(src="./assets/images/svg/logo-tnf.svg" alt="" )
            a.c-navbar__left--copy(href="#") 
                img.o-icon(src="./assets/images/svg/arrow-left.svg" alt="" )
                p.text__16 !{navbar.back}
        .c-navbar__center
            a(href="#") 
                img.c-navbar__logo.logo-nse.o-transition(src="./assets/images/svg/logo-nse.svg" alt="" )
        .c-navbar__right
            button.c-navbar__hamb.o-transition
                span.stroke.stroke__top.o-transition
                span.stroke.stroke__center.o-transition
                span.stroke.stroke__bottom.o-transition
.c-navbar__drawer.o-transition
